# environments
venv/
.venv/

# python caches
__pycache__/
*.pyc
.ipynb_checkpoints/

# ignore outputs by default
outputs/

# but keep final figures
!outputs/figures/
!outputs/figures/*.png
!outputs/figures/*.html

